/* page style */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ccc;
}

.color {
    position: absolute;
    background-color: #999;
    height: 350px;
    z-index: -1;
}

h2,
h3,
span {
    font-family: 'Raleway', sans-serif;
}

p,
a,
li,
div {
    font-family: 'Muli', sans-serif;
}

/* navbar */
nav {
    background-color: #333;
    top: -20px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* box style */
.container_12 {
    margin-top: 50px;
    padding-bottom: 10px;
}

.box_spacing {
    margin: 150px;
}

.end_spacing {
    margin: 50px;
}

.box_w {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #333;
}

.box_s {
    background-color: #666;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
}

.radius {
    border-radius: 20px;
}

/* profile style */
.profile {
    padding-bottom: 0;
}

.profile img {
    float: right;
    width: 350px;
}

.p_text {
    padding-top: 30px;
    padding-left: 70px;
}

.p_text h3 {
    margin-top: -20px;
}

.p_desc {
    padding-top: 20px;
}

.profile p {
    margin-top: -10px;
}

.icon {
    margin-top: 25px;
    text-align: center;
}

.icon i {
    padding-top: 5px;
    font-size: 30px;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon .fa-facebook {
    background-color: #fff;
    color: #1977F3;
}

.icon .fa-instagram {
    background-color: #fff;
    color: #000;
}

.icon .fa-line {
    background-color: #fff;
    color: #00B900;
}

.icon .fa-linkedin {
    background-color: #fff;
    color: #0077B5;
}

.icon .fa-github {
    background-color: #000;
    color: #fff;
}

.icon i:hover {
    background-color: #000;
    color: #fff;
}

.icon .fa-github:hover {
    background-color: #fff;
    color: #000;
}

/* title style */
.title h2 {
    word-spacing: 0;
    padding-top: 25px;
    text-align: center;
}

.title hr {
    margin-left: 0 50%;
    width: 250px;
    border-top: 3px solid #666;
}

/* experience style */
.box_exp {
    border: 20px;
    height: 270px;
}

.box_exp h3 {
    text-align: center;
}

.box_exp p {
    margin: 20px;
}

/* skill style */
.box_skill {
    height: 240px;
    padding: 0 30px;
}

.box_skill p {
    font-size: 12px;
    word-spacing: 0;
}

.skillbar {
    margin-top: -20px;
    background: #0fffb7;
    width: 100%;
    height: 2px;
}

.percentage {
    text-align: right;
    margin-top: -10px;
    margin-right: -25px;
    word-spacing: 0;
}

/* portfolio style */
.port {
    text-align: center;
}

.port img {
    width: 300px;
}

/* project style */
.project {
    text-align: center;
}

.project img {
    width: 400px;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin-top: 0;
    margin: 0 10%;
}

.center {
    text-align: center;
}

.attribute {
    display: none;
}

/* input type */
input[type=text] {
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #000;
}

input[type=text]::placeholder {
    padding-left: 10px;
    color: white;
    opacity: 0.2;
}

input[type=submit] {
    border: #000;
    background: none;
    color: white;
    font-size: 70px;
    text-shadow: 2px 4px 8px #000;
}